---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} activePage="about">
  <div class="my-16 text-center text-lg">
    <p>Chris is still working on this.</p>
  </div>
</BaseLayout>
