---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} activePage="about">
  <div class="prose m-auto my-16 max-w-xl text-left text-lg">
    <p>
      Hi, I'm Chris, an ESL teacher and independent software developer.
      Originally from the US, I'm now living in Taiwan where I've been teaching
      and having a great time of it for 15 years.
    </p>
    <p>
      If you'd like to get in touch you can email me at <a
        href="mailto:ozbonus@gmail.com">ozbonus@gmail.com</a
      >.
    </p>
  </div>
</BaseLayout>
