---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle} activePage="about">
  <div class="prose mx-auto my-16 max-w-prose px-4 text-left md:prose-xl">
    <h1>Hello</h1>
    <p>
      I'm Chris, an ESL teacher and independent software developer. Originally
      from the US, I'm now living in Taiwan where I've been teaching and having
      a great time of it for 15 years. One of favorite parts of the job has been
      making resources for teachers and learners. With this website I hope what
      I make can reach a larger audience.
    </p>
    <p>
      On the technical side of things I'm well-acquainted with Python, React,
      TypeScript, Flutter, and a host of other technologies that make to support
      the aforementioned.
    </p>
    <p>
      These days I'm actively on the lookout for new professional opportunities.
      To that end, <span class="font-semibold">
        if you'd like to get in touch you can email me at <a
          href="mailto:chris@crayonfox.com">ozbonus@gmail.com</a
        >.
      </span>
    </p>
  </div>
</BaseLayout>
