---
---

<header
  class="m-1 rounded-md border-2 border-b-4 border-gray-900 bg-gradient-to-r from-indigo-600 to-pink-500 p-2 text-white">
  <nav class="relative flex align-middle text-3xl font-bold">
    <div class="grow text-center">
      <a href="/">POSTS</a>
      //
      <a href="/about/">ABOUT</a>
    </div>
  </nav>
</header>
