---

---

<div
  class="prose prose-base md:prose-xl prose-stone mx-auto max-w-prose break-words p-4 tracking-wide prose-a:text-sky-600 prose-img:m-auto prose-inline-code:rounded-md prose-inline-code:border-2 prose-inline-code:border-black prose-inline-code:bg-sky-200 prose-inline-code:px-1 prose-inline-code:py-0.5 prose-inline-code:font-normal prose-inline-code:before:content-none prose-inline-code:after:content-none">
  <slot />
</div>
