---

---

<div
  class="prose mx-auto max-w-prose leading-loose tracking-wide [word-spacing:0.1rem] prose-h1:text-4xl prose-h1:font-bold prose-h2:text-2xl prose-h2:font-bold prose-p:text-xl prose-a:text-sky-600 prose-img:rounded-xl prose-inline-code:rounded-md prose-inline-code:border-2 prose-inline-code:border-black prose-inline-code:bg-sky-200 prose-inline-code:px-1 prose-inline-code:py-0.5 prose-inline-code:font-normal prose-inline-code:before:content-none prose-inline-code:after:content-none">
  <slot />
</div>
