---
interface Props {
  pageTitle: string;
  activePage?: string;
  description?: string;
  keywords?: string[];
}

import "/src/styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const {
  pageTitle,
  activePage,
  description = "Hello Chris Blog",
  keywords = [""],
} = Astro.props;
---

<html lang="en" class="bg-yellow-50 tabular-nums transition-colors">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="author" content="Chris Perry" />
    <meta name="keywords" content={keywords.join(", ")} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="author" href="https://github.com/ozbonus" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{pageTitle}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.15/dist/katex.css"
      integrity="sha384-zLeDfjAc8DwENEGNNTkTTnfsm/SivaEXAA2fE7fRzBTXD0tVOIzGYvE5XYRds2T3"
      crossorigin="anonymous"
    />
  </head>
  <body class="">
    <Header activePage={activePage} />
    <slot />
    <Footer />
  </body>
</html>
